services:
  db:
    build: ./database
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: mysqlrootpassword21
      MYSQL_DATABASE: spdb
    expose:
      - "3306"
    volumes:
      - db_data:/var/lib/mysql
  web:
    build: ./webserver
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  db_data: {}