/* leaving some comments in case anyone wants to mess around, gonna remove prob */
/* reset. just to ensure everything looks the same on every browser */
@font-face {
    font-family: 'Press Start 2P';
    src: url('/assets/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* background image */
.background_image{
    position:fixed;
    width:100%;
    height:100%;
    object-fit:cover; /* this just ensures the image takes up the entire backgrounf */
    image-rendering:pixelated; /* this keeps the resolution high, and doesn't make it look like a horrble low-res mess */

}

/* body */
body{
    min-height:100vh; /* had to put a min view height of 100 cause it fits perfectly on screen, otherwise it goes up/isn't centered */
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:  'Press Start 2P';
}

/* moon, small bug with the logo will fix after push */
.moon{
    position:absolute;
    top:6.5%;
    left:50%;
    transform:translateX(-50%);
    width:260px;
    image-rendering:pixelated;
    z-index: 1; /* so the moon doesnt go behind the box w/ da stuff */
}

/* box that has the inputs and buttons */
.info-box-holder{
    position:relative; 
    width:650px;
    top: 30px;
    /* dont add height, its gonna uncentered everything padding is better and SIMPLER */

    background:#e9b6dd; 
    border:4px solid black;
    
    padding:30px; /* 30px, just here incase anyone messes around */
    box-shadow:0 6px 0 rgba(0, 0, 0, 0.4); 
    z-index: 0; /* added so the moon doesnt go box w/ da stuff */
}

/* form setup */
form{
    display:flex;
    flex-direction:column;
    gap:12px;
}

/* design of input box(es) */
input{
    height:45px;
    border:3px solid rgb(0, 0, 0);
    padding:10px;
}

/* buttons :D */
.login-button{
    margin-top:10px;
    background:rgb(38, 11, 137); 
    color:white;
    border:3px solid black;
    padding:10px;
    font-weight:bold;
    cursor:pointer;
    font-family: 'Press Start 2P';
    font-size: 16px;
}

.register-button{
    text-align:center;
    margin-top:10px;
    background:rgb(154, 49, 177); /*rgb(49, 177, 72);*/
    color:white;
    border:3px solid black;
    padding:10px;
    text-decoration:none;
    font-size: 16px;
    font-weight:bold;
}

.or{
    text-align:center;
    font-weight:bold;
}
